html,body{
    font-family: 'STHeiti';
}
p,div,h2{
    padding: 0;
    margin: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-table;}
* html .clearfix {
    height:1%;
}
*+html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
}

.css-hide{
    display: none;
}
.css-show{
    display: block;
}
*:focus {outline: none;}
body{
    width: 940px;
    margin: 0 auto;
}
section{
    color: #535353;
    position:relative;
    height: 665px;
    display: none;
}
section p{
    padding: 5px 0;
}
section.current{
    display: block;
}
section .logo{
    position: absolute;
    top:60px;
}
section .store{
    position: absolute;
    top: 0;
    text-align: right;   
}
section .store a{ 
    color: #fff;
    text-decoration: none;
    text-align: right;
}
section p.activity {
    
    font-size: 16px;
    position: absolute;
    top: 0;
    right :0;
    padding:12px 10px 0 0;

}

section .nav-btn{
    position: absolute;
    top:285px;
    display: block;
    z-index: 999;
}
#nav-left-btn{
    left:0;
}
#nav-right-btn{
    right: 0;
    opacity: 0;
}

section div{
    width: 100%;
    text-align: center;
}

section .bottom-wrap{
    width: 100%;
    margin:0 auto;
    position: relative;
}


/* section */
section .lotus1 img {
    position: absolute;
    top: 200px;
    left: 210px;

}
section .lotus2 img {
    position: absolute;
    top: 214px;
    right: 244px;

}
section .lotus3 img {
    position: absolute;
    top: 310px;
    left: 30px;

}
section .lotus4 img {
    position: absolute;
    top: 356px;
    left: 310px;

}

section .lotus5 img {
    position: absolute;
    top: 250px;
    left: 350px;

}


section .lotus6 img {
    position: absolute;
    top: 310px;
    right: 65px;

}

section .introduction {
    position: absolute;
    top: 570px;
    opacity: 0;
    
}
section .introduction p {
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    letter-spacing: 1px;

}
section .introduction span.purple{
    color: #9cacd8;
}

section .introduction1 {
    position: absolute;
    top: 570px;
    opacity: 0;
    
}
section .introduction1 p {
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    letter-spacing: 1px;

}
section .introduction1 span.purple{
    color: #9cacd8;
}



/* rulebox */
section .rulebox {
    display: none;
    width: 846px;
    height: 460px;
    background-color: #fff;
    position: absolute;
    top: 170px;
    left: 47px;
    z-index:100;
    opacity: .95;
}
section .close {
    float: right;
    clear: both;
    width: 100%;
    text-align: right;
    margin: 6px 6px 0px 0px;

    
}
section .con h1{
    font-size: 25px;
    color: #9cacd8;
    font-weight: normal;
}
section .con h2{
    font-size: 24px;
    color: #000;
    font-weight: normal;
    margin-top: -10px;
}
section .con h3{
    font-size: 15px;
    color: #000;
    font-weight: normal;

}
section .con .firstrule{
    margin-top: 30px;
    font-size: 15px;
}
section .con .firstrule p{
    line-height: 150%;
}
section .con .firstrule span{
    color: #9cacd8;
}



.bottom-wrap img{
    position: absolute;
    display: none;
}
.bottom-wrap img.product{
    display: block;
}
.bottom-wrap span{
    position: absolute;
    top:0;
    left:-500px;
}
.bottom-wrap h2{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}











/* home */
#home .product1 img {
    position: absolute;
    z-index: 10;
    top: 246px;
    left: 116px;
    opacity: 0;
    display: none;
}

#home .product2 img {
    position: absolute;
    z-index: 10;
    top: 214px;
    left: 440px;
    opacity: 0;
    display: none;
}
#home .product3 img {
    position: absolute;
    z-index: 10;
    top: 306px;
    right: 106px;
    opacity: 0;
    display: none;
}
#home .purplebox {
    width: 208px; 
    height: 84px;
    color: #fff; 
    opacity: 0;
}
#home .purplebox .purplemask{
    opacity: 0.57;
    background-color: #9cacd8;
    width: 100%; 
    height:100%;
    position: absolute; 
    left: 0; 
    top:0;
}

.product1 .purplebox {
    position: absolute;
    z-index: 20;
    top: 462px;
    left: 40px;
}
.product2 .purplebox {
    position: absolute;
    z-index: 20;
    top: 462px;
    left: 360px;   
}
.product3 .purplebox {
    position: absolute;
    z-index: 20;
    top: 462px;
    right: 60px;   
}
.purple_con { 
    position: relative; 
    z-index: 2; 
}
.purple_con h1 {
    font-size: 16px;

}
.purple_con p {
    font-size: 12px;
    margin: -10px 0px 0px 0px;
    line-height: 150%;

}



/* share */

#share .lotus1 img{
    position: absolute;
    top: 160px;
    left: 100px;
}
#share .lotus2 img{
    position: absolute;
    top: 190px;
    right: 120px;
}
#share .lotus3 img{
    position: absolute;
    top: 360px;
    left: 0;
}
#share .lotus4 img{
    position: absolute;
    top: 270px;
    left: 810px;
    
}

#share .lotus5 img{
    position: absolute;
    left: 0;
    top: 495px;
}
#share .lotus6 img{
    position: absolute;
    right: 0;
    top: 495px;
}

#share .share_con{
    width:600px;
    height:195px;
    position: absolute;
    top: 190px;
    left: 160px;
}
#share .share_con img{
    float: left;  
}
#share .share_con p{
    text-align: left;
    color: #fff;
    line-height: 150%;
    font-size: 14px;
    float: left; 
    margin-left: 20px;
    margin-top: -2px;
} 
#share .share_con_word{
    width:650px;
    height:70px;
    position: absolute;
    top: 330px;
    left: 130px;

}  
#share .share_con_word p{
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 160%;
    margin: 10px 0 0 10px;

} 
#share .share_con_word .purplemask{
    opacity: .41;
    background-color: #9cacd8;
    width: 100%; 
    height:100%;
    position: absolute; 
    left: 0; 
    top:0;
} 
#share .share_con_word .purplemask .purple_con { 
    position: relative; 
    z-index: 2; 
} 



/* friend-list */
#friend-list{
    width:760px;
    margin: -250px auto 0 auto;

}
#friend-list .tip{
    font-size: 20px;
    text-align: left;
    padding:10px 10px 10px 40px;
    color: #fff;
}
#friend-list .carousel{
    width: 630px;
    overflow: hidden;
    height: 62px;
}
#friend-list ul{
    margin: 0;
    padding: 0;
}
#friend-list .prev,#friend-list .next{
    float: left;
    display: block;
    width: 18px;
    height: 60px;
    position: relative;
    z-index: 22;
    margin-top: 10px;
}
#friend-list .carousel{
    float: left;
    margin-left:40px;
    margin-top: 10px;
}
#friend-list li{
    float: left;
    background-color: #9cacd8;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    list-style: none;
    position: relative;
}
#friend-list li .checked{
    position: absolute;
    top:0;
    right: 0;
    display: none;
}

#friend-list li.unselected{
    border-color:#FFFFFF;
}
#friend-list li.unselected .checked{
    display: none;
}
#friend-list li.selected{
    border-color:#000;
}
#friend-list li.selected .checked{
    display: inherit;
}

#share-btn{
    position: absolute;
    bottom: 40px;
    left: 400px;
    width: 151px;
    height: 42px;
    background-image: url(../images/share/share-btn.png);
}

/* form */
#form .lotus3 img{
    position: absolute;
    top: 360px;
    left: 0;
}
#form .lotus5 img{
    position: absolute;
    left: 0;
    top: 495px;
}
#form .lotus6 img{
    position: absolute;
    right: 0;
    top: 495px;
}
#form .form_con{
    position: absolute;
    top:150px;
    font-size: 14px;
    color: #fff;
}
#form .form_con p{
    line-height: 150%;
}
#form .formcontent ul{
    width: 358px;
    height: 279px;
    position: absolute;
    top: 220px;
    left: 270px;
    background-image: url(../images/form/form_bg_one.png); 

}
#form .formcontent ul li{
    list-style-type: none;
    position: absolute;
    z-index: 99;

}
#form .formcontent p.info{
    color: #fff;
    text-align: left;
    margin: 10px 0px 0px 20px;
    font-size: 18px;

}
#form .formcontent p.info-one{
    color: #fff;
    text-align: left;
    margin: 75px 0px 0px 20px;
    font-size: 18px;
    width:300px;
    height:49px;
}
#form .formcontent p.info-two{
    color: #fff;
    text-align: left;
    margin: 140px 0px 0px 20px;
    font-size: 18px;
    width:300px;
    height:49px;
}
#form .formcontent p.info-three{
    color: #fff;
    text-align: left;
    margin: 205px 0px 0px 20px;
    font-size: 18px;
    width:300px;
    height:49px;
}
#form .formcontent .imgone {
    position: absolute;
    top: 10px;
    left: -20px;
}
#form .formcontent .imgtwo {
    position: absolute;
    top: 80px;
    left: -20px;
}
#form .formcontent .imgthree {
    position: absolute;
    top: 140px;
    left: -20px;
}
#form .formcontent .imgfour {
    position: absolute;
    top: 205px;
    left: -20px;
}
.submit-btn{
    position: absolute;
    bottom: 40px;
    left: 400px;
    width: 151px;
    height: 42px;
    background-image: url(../images/form/submit-btn.png);
}

/* question */
#question .scan {
    position: absolute;
    top: 175px;
    left: -160px;
    

}
#question .scan img {
    margin-right: 10px;
}
#question .scan_con{
    position: absolute;
    top: 155px;
    color: #fff;
    text-align: left;
    left:440px;

}
#question .scan_con h1{
    font-size: 20px;
    font-weight: normal;
}

#question .scan_con p{
    font-size: 12px;
    line-height: 150%;
    margin-top: -10px;
}
#question .scan_con span {
    color: #9cacd8;
}


#question .question_con {
    width: 502px; 
    height: 70px;
    color: #fff; 
}
#question .question_con .question_mask{
    opacity: 0.57;
    background-color: #9cacd8;
    width: 502px; 
    height: 70px;
    position: absolute; 
    top: 500px;
    left: 230px;

}
#question .question_mask_con h1{
    font-size: 17px;
    color: #fff;
    position: absolute;
    top: 495px;
    left: 250px;
    font-weight: normal;
}
#question .question_mask_con .cs{
    font-size: 17px;
    color: #fff;
    position: absolute;
    top: 540px;
    left: 320px;
    font-weight: normal;

}
#question .question_mask_con .radio_cs{
    position: absolute;
    top: 543px;
    left: 295px;


}
#question .question_mask_con .sf{
    font-size: 17px;
    color: #fff;
    position: absolute;
    top: 540px;
    left: 470px;
    font-weight: normal;

}
#question .question_mask_con .radio_sf{
    position: absolute;
    top: 543px;
    left: 445px;

}
#question .question_mask_con .yy{
    font-size: 17px;
    color: #fff;
    position: absolute;
    top: 540px;
    left: 620px;
    font-weight: normal;

}
#question .question_mask_con .radio_yy{
    position: absolute;
    top: 543px;
    left: 595px;
}

.checkbox { 
    width: 21px; 
    height: 21px; 
    background-image: url(../images/question/unclicked.png); 
}

.checkbox.hover{ 
    background-image: url(../images/question/clicked.png);
}
.tips {
    color:#000;
    width: 473px;
    height: 71px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
　　 border-radius: 3px;
    position: absolute;
    top: 40%;
    left:31%;
    background-color: #fff;
    display: none;


}
.tips p{
    font-size: 18px;
    margin-top: 22px;
    text-align: center;
}

#question.hover {     
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    
}





